@font-face
    font-family: 'Streamster'
    src: url('Streamster.woff2') format('woff2'), url('Streamster.woff') format('woff')
    font-weight: normal
    font-style: normal
    font-display: swap

body
    font-family: 'Courier New', sans-serif

img
    display: block

.container
    max-width: 60.9375rem
    margin: 0 auto

.fade-enter-active,
.fade-leave-active
    transition: opacity 0.15s ease


.fade-enter-from,
.fade-leave-to
    opacity: 0


.small-screen-only
    @media (width <= $breakpoint-xs-max)
        display: block

    @media (width >= $breakpoint-sm-min)
        display: none

.large-screen-only
    @media (width <= $breakpoint-xs-max)
        display: none

    @media (width >= $breakpoint-sm-min)
        display: block